@import "compass/css3";

$color-black: #222222;
$color-lightgray: #f2f2f2;

html { 
    height: 100% 
}

body { 
    position: relative;
    height: 100%; 
    margin: 0; 
    padding: 0.3%;
    @include box-sizing(border-box);
    background-color: $color-black;
    color: $color-black;
    font-size: 16px;
}

h1 {
    display: block;
    width: 100%;
    font-size: 1.8em;
    line-height: 1.5em;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid $color-lightgray;
}



//
// Containers
section {
    display: block;
    position: relative;
    float: left;
    &#main {
        height: 100%;
        width: 25%;
        background-color: $color-black;
        color: $color-lightgray;
        @include box-sizing(border-box);
        overflow-y: auto;
        overflow-x: none;
    }
    &#map-container { 
        height: 100%;
        width: 75%;
    }
}

#welcome {
    display: block;
    position: relative;
    float: left;
    margin: 2% 5% 0 2%; 
    font-size: 0.875em;
    line-height: 1.3em;
    h1 {
        margin: 0;
        padding: 0;
    }
}

.meta {
    display: none;
    position: relative;
    float: left;
    margin: 2% 5% 0 2%; 
    font-size: 0.875em;
    line-height: 1.3em;
    .title {
        font-size: 1.5em;
        margin-bottom: 0.3125em;
        line-height: 1.2em;
    }
    .description {
        > h2 {
            font-size: 1em;
            line-height: 1.1em;
            font-weight: bold;
            margin-top: 0;
        }
        p {
            margin-bottom: 1.5em;
        }
    }
    .price {
        &[data-price="low"] {
            color: #89E63B;
        }
        &[data-price="med"] {
            color: #FBF658;
        }
        &[data-price="high"] {
            color: #DD7663;
        }
    }
}

#controls {
    display: block;
    position: absolute;
    bottom: 0;
    left: 25.15%;
    bottom: 0.6%;
    padding: 5px;
    @include box-sizing(border-box);
    background-color: $color-lightgray;


}
