@import "compass/css3";

$color-black: #222222;
$color-lightgray: #f2f2f2;

html { 
    height: 100% 
}

body { 
    position: relative;
    height: 100%; 
    margin: 0; 
    padding: 0.3%;
    @include box-sizing(border-box);
    background-color: $color-black;
    color: $color-black;
}

#main {
    display: block;
    float: left;
    position: relative;
    height: 100%;
    width: 25%;
    background-color: $color-lightgray;
    @include box-sizing(border-box);
    border-right: 2px solid #ccc;
}

#map-container { 
    display: block;
    float: left;
    position: relative;
    height: 100%;
    width: 75%;
}

h1 {
    display: block;
    width: 100%;
    font-size: 1.5em;
    line-height: 1.5em;
    height: 2em;
    padding: 0;
    margin: 0;
}