/* line 28, ../sass/map.scss */
html {
  height: 100%;
}

/* line 32, ../sass/map.scss */
body {
  position: relative;
  height: 100%;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #222222;
  color: #222222;
  font-size: 16px;
  overflow: hidden;
}

/* line 43, ../sass/map.scss */
.color-low {
  color: #89e63b;
}

/* line 46, ../sass/map.scss */
.color-med {
  color: #fbf658;
}

/* line 49, ../sass/map.scss */
.color-high {
  color: #dd7663;
}

/* line 55, ../sass/map.scss */
section {
  position: absolute;
  -webkit-transition: left 0.6s ease-in-out;
  -moz-transition: left 0.6s ease-in-out;
  -o-transition: left 0.6s ease-in-out;
  transition: left 0.6s ease-in-out;
}
/* line 58, ../sass/map.scss */
section#left-container {
  top: 0;
  left: -15%;
  height: 100%;
  width: 15%;
  background-color: #222222;
  color: #f2f2f2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: auto;
}
/* line 67, ../sass/map.scss */
body.menu-left section#left-container {
  left: 0;
}
/* line 71, ../sass/map.scss */
section#top-bar {
  height: 50px;
  max-height: 50px;
  width: 100%;
  left: 0;
  background-color: #222222;
  background-color: #414141;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF414141', endColorstr='#FF111111');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQxNDE0MSIvPjxzdG9wIG9mZnNldD0iODAlIiBzdG9wLWNvbG9yPSIjMTExMTExIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #414141), color-stop(80%, #111111));
  background-image: -webkit-linear-gradient(top, #414141 0%, #111111 80%);
  background-image: -moz-linear-gradient(top, #414141 0%, #111111 80%);
  background-image: -o-linear-gradient(top, #414141 0%, #111111 80%);
  background-image: linear-gradient(top, #414141 0%, #111111 80%);
  color: #f2f2f2;
  border: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 100;
}
/* line 82, ../sass/map.scss */
section#top-bar button {
  display: inline-block;
  position: relative;
  margin-left: 5px;
  vertical-align: middle;
  margin-bottom: 9px;
  font-size: 0.9em;
  padding: 5px 8px;
}
/* line 91, ../sass/map.scss */
section#top-bar .last-updated {
  display: inline-block;
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 0.8em;
  font-style: italic;
}
/* line 99, ../sass/map.scss */
section#top-bar h1.page-title {
  display: inline-block;
  height: 100%;
  font-size: 2em;
  line-height: 50px;
  padding: 0;
  margin: 0 10px 0 0;
  text-indent: 10px;
  font-family: "Lato";
  font-style: italic;
}
/* line 110, ../sass/map.scss */
body.menu-left section#top-bar {
  left: 15%;
}
/* line 114, ../sass/map.scss */
section#map-container {
  top: 5%;
  left: 0%;
  height: 85%;
  width: 100%;
  z-index: 50;
}
/* line 120, ../sass/map.scss */
body.menu-left section#map-container {
  left: 15%;
}
/* line 124, ../sass/map.scss */
section#bottom-container {
  height: 100px;
  max-height: 100px;
  bottom: 0;
  width: 100%;
  -webkit-transition: left 0.6s ease-in-out, height 0.4s ease-in-out;
  -moz-transition: left 0.6s ease-in-out, height 0.4s ease-in-out;
  -o-transition: left 0.6s ease-in-out, height 0.4s ease-in-out;
  transition: left 0.6s ease-in-out, height 0.4s ease-in-out;
  z-index: 150;
}
/* line 131, ../sass/map.scss */
body.menu-left section#bottom-container {
  left: 15%;
}
/* line 134, ../sass/map.scss */
body.menu-bottom section#bottom-container {
  height: 15%;
}

/* line 141, ../sass/map.scss */
#bottom-container .listing-scroll {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  float: left;
  overflow-x: auto;
  overflow-y: hidden;
}
/* line 149, ../sass/map.scss */
#bottom-container .listing-scroll .listing-container {
  width: 100%;
}
/* line 151, ../sass/map.scss */
#bottom-container .listing-scroll .listing-container .listing {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 130px;
  height: 120px;
  color: #f2f2f2;
  background-color: #333;
  background-color: #414141;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF414141', endColorstr='#FF111111');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQxNDE0MSIvPjxzdG9wIG9mZnNldD0iODAlIiBzdG9wLWNvbG9yPSIjMTExMTExIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #414141), color-stop(80%, #111111));
  background-image: -webkit-linear-gradient(top, #414141 0%, #111111 80%);
  background-image: -moz-linear-gradient(top, #414141 0%, #111111 80%);
  background-image: -o-linear-gradient(top, #414141 0%, #111111 80%);
  background-image: linear-gradient(top, #414141 0%, #111111 80%);
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  margin-right: 2px;
  padding: 3px 8px;
  margin: 5px;
}
/* line 164, ../sass/map.scss */
#bottom-container .listing-scroll .listing-container .listing:hover, #bottom-container .listing-scroll .listing-container .listing.active {
  background-color: #999;
  background-color: #0090ff;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF0090FF', endColorstr='#FF111111');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwOTBmZiIvPjxzdG9wIG9mZnNldD0iODAlIiBzdG9wLWNvbG9yPSIjMTExMTExIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0090ff), color-stop(80%, #111111));
  background-image: -webkit-linear-gradient(top, #0090ff 0%, #111111 80%);
  background-image: -moz-linear-gradient(top, #0090ff 0%, #111111 80%);
  background-image: -o-linear-gradient(top, #0090ff 0%, #111111 80%);
  background-image: linear-gradient(top, #0090ff 0%, #111111 80%);
  -webkit-box-shadow: rgba(242, 242, 242, 0.4) 0 0 25px;
  -moz-box-shadow: rgba(242, 242, 242, 0.4) 0 0 25px;
  box-shadow: rgba(242, 242, 242, 0.4) 0 0 25px;
}
/* line 169, ../sass/map.scss */
#bottom-container .listing-scroll .listing-container .listing .title {
  font-size: 0.9em;
}
/* line 172, ../sass/map.scss */
#bottom-container .listing-scroll .listing-container .listing .price {
  font-size: 0.65em;
}
/* line 174, ../sass/map.scss */
#bottom-container .listing-scroll .listing-container .listing .price[data-price="low"] {
  color: #89e63b;
}
/* line 177, ../sass/map.scss */
#bottom-container .listing-scroll .listing-container .listing .price[data-price="med"] {
  color: #fbf658;
}
/* line 180, ../sass/map.scss */
#bottom-container .listing-scroll .listing-container .listing .price[data-price="high"] {
  color: #dd7663;
}
/* line 184, ../sass/map.scss */
#bottom-container .listing-scroll .listing-container .listing .metadata {
  width: 75%;
  padding: 3% 0;
  float: left;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 197, ../sass/map.scss */
#welcome-container {
  z-index: 100;
  display: block;
  position: absolute;
  padding: 20px;
  width: 40%;
  right: 10%;
  top: 10%;
  font-size: 0.875em;
  line-height: 1.3em;
  color: #f2f2f2;
  background-color: rgba(0, 0, 0, 0.8);
}
/* line 210, ../sass/map.scss */
#welcome-container p:first-of-type {
  margin-top: 0px;
  padding-top: 0px;
}
/* line 214, ../sass/map.scss */
#welcome-container p:last-child {
  margin-bottom: 0px;
}
/* line 218, ../sass/map.scss */
#welcome-container #js-close-welcome {
  position: absolute;
  display: inline-block;
  top: 0.4em;
  right: 0.7em;
  font-size: 0.7em;
  cursor: pointer;
}

/* line 229, ../sass/map.scss */
section#left-container > h2 {
  font-size: 1.6em;
  line-height: 1em;
  margin: 0;
  padding: 0.5em 0 0.5em 0.3em;
}

/* line 237, ../sass/map.scss */
.meta {
  display: none;
  position: relative;
  float: left;
  margin: 2% 5% 0 2%;
  font-size: 0.875em;
  line-height: 1.3em;
}
/* line 244, ../sass/map.scss */
.meta .title {
  font-size: 1.5em;
  margin-bottom: 0.3125em;
  line-height: 1.2em;
}
/* line 250, ../sass/map.scss */
.meta .description > h2 {
  font-size: 1em;
  line-height: 1.1em;
  font-weight: bold;
  margin-top: 0;
}
/* line 256, ../sass/map.scss */
.meta .description p {
  margin-bottom: 1.5em;
}

/* line 264, ../sass/map.scss */
section#map-container .infobox-container {
  display: block;
  font-size: 0.875em;
  line-height: 1.3em;
  width: 400px;
  max-height: 300px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 2px solid #222222;
  padding: 10px 15px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px 2px;
  overflow-y: auto;
}
/* line 277, ../sass/map.scss */
section#map-container .infobox-container > img {
  position: absolute !important;
  top: 5px;
  right: 5px;
}
/* line 282, ../sass/map.scss */
section#map-container .infobox-container span.title {
  display: block;
  width: 100%;
  font-size: 1.3em;
  font-weight: bold;
}
/* line 289, ../sass/map.scss */
section#map-container .infobox-container .price {
  display: inline-block;
  font-size: 0.8em;
  padding: 2px 5px;
  margin: 4px 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 295, ../sass/map.scss */
section#map-container .infobox-container .price[data-price="low"] {
  background-color: #89e63b;
}
/* line 298, ../sass/map.scss */
section#map-container .infobox-container .price[data-price="med"] {
  background-color: #fbf658;
}
/* line 301, ../sass/map.scss */
section#map-container .infobox-container .price[data-price="high"] {
  background-color: #dd7663;
}
/* line 305, ../sass/map.scss */
section#map-container .infobox-container .tags {
  display: inline-block;
  margin-left: 5px;
  font-size: 0.8em;
  font-style: italic;
}
/* line 311, ../sass/map.scss */
section#map-container .infobox-container h2 {
  font-size: 1em;
  font-weight: normal;
  line-height: 1.125em;
  margin: 0;
  padding: 0;
}
/* line 318, ../sass/map.scss */
section#map-container .infobox-container p:last-child {
  margin-bottom: 0px;
}
