/* line 6, ../sass/map.scss */
html {
  height: 100%;
}

/* line 10, ../sass/map.scss */
body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0.3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #222222;
  color: #222222;
}

/* line 20, ../sass/map.scss */
#main {
  display: block;
  float: left;
  position: relative;
  height: 100%;
  width: 25%;
  background-color: #f2f2f2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 2px solid #ccc;
}

/* line 31, ../sass/map.scss */
#map-container {
  display: block;
  float: left;
  position: relative;
  height: 100%;
  width: 75%;
}

/* line 39, ../sass/map.scss */
h1 {
  display: block;
  width: 100%;
  font-size: 1.5em;
  line-height: 1.5em;
  height: 2em;
  padding: 0;
  margin: 0;
}
